.columns
  display: flex
  flex-direction: column

.rows 
  display: flex
  flex-direction: row

//WEBPAGE FONTS
//Titles
@mixin OhMyFood__title
    font-family: Shrikhand
    font-size: 30px
    font-style: italic
    font-weight: 400
    letter-spacing: 0em
    color: #101010

@mixin footer_title 
    @include OhMyFood__title
    font-size:18px 
    color:#FFF
    text-align: left

//Web general font-family
@mixin roboto_fam
    font-family: Roboto
    font-size: 15px
    letter-spacing: 0em
    margin: 0px

@mixin roboto_700
    @include roboto_fam
    font-weight: 700

@mixin roboto_500
    @include roboto_fam
    font-weight: 500
    font-size: 16px

@mixin roboto_400
    @include roboto_fam
    font-weight: 400
    font-size: 16px

@mixin roboto_300
    @include roboto_fam
    font-weight: 300

body
    width: 100%    
    margin: 0px

.main-container
    box-sizing: border-box
    width: 100%
    justify-content: center

.rest__nav
    box-sizing: border-box
    width: 100%
    height: 63px    
    gap: 42px
    padding: 14px 62px 13px 17px
    background-color: #FFF
    box-shadow: 0px 2px 4px 0px #00000026
    align-items: center 
    .arrow
        width: 30px
        height: 30px
        color: #101010
        a 
            text-decoration: none                
    .title
        display: inline-block
        width: 197px
        justify-content: center
        h1
            @include OhMyFood__title
            width: 162px
            height: 44px
            padding-right: 89px
            text-align: center
            
.restaurant //It includes the photo, the name + heart, the whole menu & button to command
    box-sizing: content-box
    width:100%

    .photorestaurantpage
        width: 100%
        height: 275px
        object-fit: cover
    
    .local_menu
        box-sizing: content-box
        background-color: #F6F6F6
        width: 100%
        border-top-right-radius: 32px
        border-top-left-radius: 32px
        position: absolute
        margin-top: 220px
        
    .rest_bar  //Name of the restaurant and heart to be marked
        box-sizing: content-box
        align-content: center
        width: 90.93%
        height: 29px
        padding: 0px 50px 0px 17px
        justify-content: space-between
        h2
            @include OhMyFood__title
            font-size: 28px
        .hearts
            display: inline-block
            width: 22px
            height: 21px
            border: none 
            background: #F6F6F6
            padding: 32px 30px 0px 0px
            border-radius: 32px
            .control-me::after 
                content: url("../images/icons/empty_like_resto.png")
            #toggle1:checked ~ .control-me::after 
                content: url("../images/icons/full_like.png")
            label 
                padding: 0px
            .visually-hidden 
                position: absolute
                left: -100vw
                opacity: 0 
    
    .courses
        box-sizing: content-box
        width: 93.07%        
        justify-content: center
        margin: 40px 20px 0px 15px
        gap: 12px
        .course_part
            width: 100%
            height: 30px
            h3
                @include roboto_300
                font-size: 16px
                color: #000
                height: 24px
                align-content: top
            .line_below
                width: 40px
                height: 3px
                background-color: #99E2D0
                opacity: 1
                align-content: bottom                
        .dish
            width: 90%
            height: 40px
            border-radius: 15px
            background: #FFF
            box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A
            align-content: left
            padding: 15px
            .dish-title
                @include roboto_500
                font-size: 18px
                height: 21px
            .dishpecifications
                justify-content: space-between
                .dish-description
                    @include roboto_300
                    font-size: 15px
                    height: 19px
                .dish-price
                    @include roboto_700
                    font-size: 15px
                    height: 18px
                    text-align: right

    .press_button //Button to be pressed/hovered
        z-index: 1
        box-sizing: content-box
        justify-content: center
        background-color: #F6F6F6
        height: 130px
        width: 100%
        .button__commande
            @include roboto_500
            font-size: 16px
            align-content: center        
            justify-content:center
            width: 186px
            height: 50px
            border-radius: 25px
            Line-height: 18.75px
            color: #FFFFFF
            text-align: center
            margin: 27px 75px 57px 82px
            box-shadow: 0px 4px 10px 0px #00000040
            background: linear-gradient(193.33deg, #9356DC 11.44%, #FF79DA 123.93%)
            &:hover 
                box-shadow: 0px 4px 15px 0px #00000059
                background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%)
                border: none  

footer
    margin-top: 1112px
    z-index: 1
    background-color: #353535
    width: 100%
    height: 186px
    padding: 22px 25px 22px 25px
    color: #FFFFFF
    gap: 16px
    .ft
        a
            text-decoration: none
            color: #FFF
        h2
            @include footer_title
            padding-bottom: 18px
        .ft_menu
            width: 190px
            height: 99px
            gap: 7px
            text-align: left
            .icon_plus_text
                width: 190px
                height: 19px
                color: #FFFFFF
                .ft_icon
                    width: 25px
                    align-items: left
                p
                    @include roboto_500
                    Line-height:18,75px
                    width: 168px
                    height: 19px
                    text-align: left
                    color: #FFFFFF
            p
                @include roboto_400
                Line-height: 18,75px
                color: #FFFFFF 
