.columns {
  display: flex;
  flex-direction: column;
}

.rows {
  display: flex;
  flex-direction: row;
}

.fa-store {
  width: 24px;
  height: 24px;
  left: 20px;
  color: #9356DC;
  left: 20, 51px;
}

.fa-mobile-screen-button, .fa-list-ul {
  color: #7E7E7E;
}

body {
  width: 100%;
  height: 1362px;
}
@media only screen and (min-width: 907.5px) {
  body {
    max-width: 1440px;
    height: 1395px;
    gap: 30px;
  }
}
body .fadein {
  margin: 0px;
  animation: ohmy 1s ease 5s forwards;
}
body .loaderbutton {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9999;
  background: #FFF;
  animation: opaque 1s ease-out 5s forwards;
}
body .ohmyfoodloader {
  animation: opaque 5s ease-out 0s forwards;
  display: inline-flex;
  border: solid 5px #FFF;
  outline: solid 5px #353535;
  border-radius: 100px;
  font-family: Shrikhand;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  color: #101010;
  font-size: 18px;
  color: #FFF;
  text-align: left;
  font-size: 36px;
  width: 50%;
  height: 40px;
  padding: 30px 5px 5px 20px;
  margin: 250px auto 0px auto;
  background-color: #353535;
  width: 218px;
  height: 50px;
  top: 293px;
  left: 82px;
  border-radius: 25px;
  Line-height: 18.75px;
  text-align: center;
}
@media only screen and (min-width: 907.5px) {
  body .ohmyfoodloader {
    padding: 30px 5px 5px 20px;
  }
}
@keyframes opaque {
  0% {
    background-color: #353535;
    outline: solid 5px #353535;
    opacity: 1;
  }
  25% {
    background-color: #353535;
    outline: solid 5px #353535;
    opacity: 0.75;
  }
  50% {
    background-color: #9356DC;
    outline: solid 5px #9356DC;
    opacity: 0.5;
  }
  75% {
    background-color: #FF79DA;
    outline: solid 5px #FF79DA;
    opacity: 0.25;
  }
  100% {
    background-color: #FFF;
    outline: solid 5px #FFF;
    opacity: 0;
  }
}
@keyframes ohmy {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .main_container {
  margin-top: 0px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 113px;
}
@media only screen and (min-width: 907.5px) {
  nav {
    height: 146px;
  }
}
nav .nav_title {
  justify-content: center;
  text-align: center;
  padding: 0px 19px 0px 16px;
  top: 14px;
}
nav .nav_title h1 {
  font-family: Shrikhand;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  color: #101010;
  height: 63px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  margin: 0px;
}
@media only screen and (min-width: 907.5px) {
  nav .nav_title h1 {
    height: 96px;
  }
}
nav .location {
  height: 50px;
  top: 62.5px;
  left: -0.5px;
  gap: 17px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  justify-content: center;
  align-items: center;
}
nav .location .location i {
  width: 12px;
  height: 16px;
  color: #353535;
}
nav .location .location_city {
  color: #353535;
  width: 109px;
  height: 19px;
  line-height: 18.75px;
  border: none;
  background-color: #EAEAEA;
  opacity: 1;
}
nav .location .location_city ::placeholder {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  color: #353535;
  background-color: #EAEAEA;
  opacity: 1;
}
@media only screen and (min-width: 907.5px) {
  nav .location .location_city {
    height: 50px;
  }
}

.reservation {
  width: 100%;
  border: 0px;
  height: 287px;
  background-color: #F6F6F6;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media only screen and (min-width: 907.5px) {
  .reservation {
    width: 100%;
    height: 179px;
    padding: 30px;
  }
}
.reservation h2 {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 700;
  font-size: 24px;
  Line-height: 28.13px;
  width: 73.33%;
  height: 68px;
  text-align: center;
  padding: 39px 58px 0px 42px;
}
@media only screen and (min-width: 907.5px) {
  .reservation h2 {
    font-size: 40px;
    Line-height: 46.88px;
    width: 100%;
    height: 68px;
    top: 176px;
    left: 397, 5px;
  }
}
.reservation h3 {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 300;
  font-size: 18px;
  Line-height: 21.09px;
  text-align: center;
  width: 84%;
  height: 46px;
  margin: 0px 26px 0px 34px;
}
.reservation .button__homepage {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  width: 218px;
  height: 50px;
  top: 293px;
  left: 82px;
  border-radius: 25px;
  Line-height: 18.75px;
  color: #FFFFFF;
  text-align: center;
  margin: 27px 75px 57px 82px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(193.33deg, #9356DC 11.44%, #FF79DA 123.93%);
}
.reservation .button__homepage:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border: none;
}

.how_it_works {
  width: 100%;
  height: 440px;
  top: 400px;
  background-color: #FFF;
  padding-right: 20px;
  padding-left: 20px;
  gap: 26px;
  box-sizing: border-box;
}
.how_it_works .procedure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 268px;
  gap: 25px;
}
@media only screen and (min-width: 907.5px) {
  .how_it_works {
    height: 228.38px;
    padding: 50px, 180px, 50px, 180px;
    gap: 25px;
    align-items: center;
  }
  .how_it_works .procedure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 73.12%;
    height: 72.38px;
    gap: 24px;
  }
}
.how_it_works h2 {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 700;
  font-size: 24px;
  Line-height: 28.13px;
  text-align: left;
  margin-top: 48px;
}
.how_it_works .procedure-box {
  position: relative;
  color: #FFF;
  height: 72.38px;
  border-radius: 20px;
  color: #F6F6F6;
  gap: 27px;
  align-items: center;
}
@media only screen and (min-width: 907.5px) {
  .how_it_works .procedure-box {
    width: 31%;
    height: 100%;
  }
}
.how_it_works .procedure-box .step {
  position: absolute;
  align-items: left;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  font-size: 14.18px;
  line-height: 16.62px;
  color: #FFF;
  display: inline-block;
  padding-top: 3px;
  border-radius: 24px;
  width: 24px;
  height: 21px;
  border-color: #9356DC;
  background-color: #9356DC;
  text-align: center;
  left: -12px;
}
.how_it_works .procedure-box .clipped-box {
  padding-left: 30px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  top: 505px;
  border-radius: 20px;
  background: #F6F6F6;
  background-clip: padding-box;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 40px;
  left: 12px;
  right: 20px;
  justify-content: evenly;
}
@media only screen and (min-width: 907.5px) {
  .how_it_works .procedure-box .clipped-box {
    width: 100%;
    height: 100%;
    top: 106px;
    border-radius: 20px;
    padding-left: 30px;
    gap: 40px;
    align-items: evenly;
  }
}
.how_it_works .procedure-box .clipped-box p {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}

.restaurants {
  width: 100%;
  height: 1226px;
  gap: 18px;
  background-color: #F6F6F6;
}
@media only screen and (min-width: 907.5px) {
  .restaurants {
    height: 668px;
    padding: 30px, 180px, 30px, 180px;
    gap: 28px;
    align-items: center;
  }
}
.restaurants a {
  text-decoration: none;
  color: #000;
}
.restaurants h2 {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 700;
  font-size: 24px;
  Line-height: 28, 13px;
  margin: 54px 18.5px 0px 17.5px;
}
.restaurants .resto_pack {
  margin: 0px 17.5px 0px 17.5px;
  gap: 18px;
}
@media only screen and (min-width: 907.5px) {
  .restaurants .resto_pack {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 251px;
    gap: 50px;
  }
}
.restaurants .resto_pack .card_rest {
  height: 251px;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
@media only screen and (min-width: 907.5px) {
  .restaurants .resto_pack .card_rest {
    width: 490px;
  }
}
.restaurants .resto_pack .card_rest .newbie_box {
  width: 80px;
  height: 29px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  top: 10px;
  left: 70%;
}
.restaurants .resto_pack .card_rest .newbie_box p {
  width: 61.37px;
  height: 16px;
  top: 7px;
  left: 9px;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #008766;
  position: absolute;
  padding: 6.5px;
  background-color: #99e2d0;
  border-radius: 2px;
  border-color: #99E2D0;
}
.restaurants .resto_pack .card_rest .restaurant_frame {
  height: 77px;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
.restaurants .resto_pack .card_rest .restaurant_frame .hearts {
  width: 25px;
  height: 25px;
  border: 0px #FFF;
  background: #FFF;
}
.restaurants .resto_pack .card_rest .restaurant_frame .hearts .control-me::after {
  content: url("../images/icons/empty_like.png");
}
.restaurants .resto_pack .card_rest .restaurant_frame .hearts #toggle1:checked ~ .control-me::after {
  content: url("../images/icons/full_like.png");
}
.restaurants .resto_pack .card_rest .restaurant_frame .hearts #toggle2:checked ~ .control-me::after {
  content: url("../images/icons/full_like.png");
}
.restaurants .resto_pack .card_rest .restaurant_frame .hearts #toggle3:checked ~ .control-me::after {
  content: url("../images/icons/full_like.png");
}
.restaurants .resto_pack .card_rest .restaurant_frame .hearts #toggle4:checked ~ .control-me::after {
  content: url("../images/icons/full_like.png");
}
.restaurants .resto_pack .card_rest .restaurant_frame .hearts label {
  padding: 0px;
}
.restaurants .resto_pack .card_rest .restaurant_frame .hearts .visually-hidden {
  position: absolute;
  left: -100vw;
  opacity: 0;
}
.restaurants .resto_pack .card_rest .restaurant_frame .restaurant-data {
  gap: 7.5px;
}
.restaurants .resto_pack .card_rest .restaurant_frame h3 {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 700;
  font-Size: 18px;
  Line-height: 21.09px;
}
.restaurants .resto_pack .card_rest .restaurant_frame p {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 300;
  font-Size: 17px;
  Line-height: 19.92px;
}
.restaurants .photorestaurant {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

footer {
  background-color: #353535;
  width: 100%;
  height: 186px;
  padding: 22px 25px;
  color: #FFFFFF;
}
@media only screen and (min-width: 907.5px) {
  footer {
    height: 114px;
    padding: 30px, 25px, 30px, 25px;
  }
}
footer .ft {
  gap: 16px;
}
@media only screen and (min-width: 907.5px) {
  footer .ft {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    justify-content: bottom;
    gap: 16px;
  }
}
footer .ft a {
  text-decoration: none;
  color: #FFF;
}
footer .ft h2 {
  font-family: Shrikhand;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  color: #101010;
  font-size: 18px;
  color: #FFF;
  text-align: left;
  padding-bottom: 18px;
}
@media only screen and (min-width: 907.5px) {
  footer .ft h2 {
    width: 139px;
    height: 27px;
    padding: 57px 1.42px 0px 0px;
  }
}
footer .ft .ft_menu {
  width: 190px;
  height: 99px;
  gap: 7px;
  text-align: left;
}
@media only screen and (min-width: 907.5px) {
  footer .ft .ft_menu {
    display: flex;
    flex-direction: row;
    width: 661px;
    height: 20px;
    gap: 7px;
    align-items: flex-start;
    padding-top: 75px;
  }
}
footer .ft .ft_menu .icon_plus_text {
  width: 190px;
  height: 19px;
  color: #FFFFFF;
}
footer .ft .ft_menu .icon_plus_text .ft_icon {
  width: 25px;
  align-items: left;
}
footer .ft .ft_menu .icon_plus_text p {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  Line-height: 18, 75px;
  width: 168px;
  height: 19px;
  left: 22px;
  text-align: left;
  color: #FFFFFF;
}
footer .ft .ft_menu p {
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0em;
  margin: 0px;
  font-weight: 400;
  font-size: 16px;
  Line-height: 18, 75px;
  color: #FFFFFF;
}/*# sourceMappingURL=styles.css.map */