.main_container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 375px;
  height: 2252px;
  top: 1362px;
  left: -1224px;
  background-color: #F6F6F6;
}

.nav__container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 375px;
  height: 113px;
  padding: 0px, 0px, 0.5px, 0px;
}
.nav__container h2 {
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #101010;
  top: 30px;
  margin: 0px;
  Width: 375px;
  Height: 63px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.nav__container .location {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 375px;
  height: 50px;
  top: 62.5px;
  left: -0.5px;
  gap: 17px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.nav__container .location .location i {
  width: 12px;
  height: 16px;
}
.nav__container .location h4 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0em;
  color: #101010;
  margin: 0px;
  width: 109px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18, 75px;
}
.reservation {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  Width: 375px;
  height: 287px;
  background-color: #F6F6F6;
}
.reservation h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0em;
  color: #101010;
  margin: 0px;
  font-size: 24px;
  Line-height: 28, 13px;
  width: 275px;
  height: 68px;
  padding: 39px 58px 0px 42px;
}
.reservation h6 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0em;
  color: #101010;
  margin: 0px;
  font-weight: 300;
  font-size: 18px;
  Line-height: 21, 9px;
  padding: 0px 26px 0px 34px;
}
.reservation button {
  width: 218px;
  height: 50px;
  top: 293px;
  left: 82px;
  border-radius: 25px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0em;
  color: #101010;
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  Line-height: 18, 75px;
  color: #FFFFFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  margin: 48px 27px 75px 82px;
}

.how_it_works {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 375px;
  height: 440px;
  top: 400px;
  background-color: #FFFFFF;
}
.how_it_works h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0em;
  color: #101010;
  margin: 0px;
  font-size: 24px;
  Line-height: 28, 13px;
}
.how_it_works .procedure__text {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 335px;
  height: 72.38px;
  top: 505px;
  left: 20px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.how_it_works .procedure__text h4 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0em;
  color: #101010;
  margin: 0px;
  font-weight: 500;
  font-size: 16px;
  Line-height: 18, 75px;
}

.restaurants {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  Width: 375px;
}
.restaurants h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0em;
  color: #101010;
  margin: 0px;
  font-size: 24px;
  Line-height: 28, 13px;
}
.restaurants .resto_pack {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.restaurants .resto_pack .card_rest {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.restaurants .resto_pack .card_rest h3 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0em;
  color: #101010;
  margin: 0px;
  font-Weight: 700;
  font-Size: 18px;
  Line-height: 21.09px;
}
.restaurants .resto_pack .card_rest h6 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0em;
  color: #101010;
  margin: 0px;
  font-Weight: 300;
  font-Size: 17px;
  Line-height: 19, 92px;
}

.photorestaurant {
  width: 289px;
  height: 228px;
  border-radius: 15px 15px 0px 0px;
}

footer {
  background-color: #353535;
  width: 375px;
  height: 186px;
}
footer .ft {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer .ft h2 {
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #101010;
  top: 30px;
  margin: 0px;
  font-size: 18px;
  color: #FFF;
  color: #FFF;
}
footer .ft h4 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0em;
  color: #101010;
  margin: 0px;
  font-Weight: 500;
  font-Size: 16px;
  Line-height: 18, 75px;
  color: #FFF;
}
footer .ft h5 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0em;
  color: #101010;
  margin: 0px;
  font-Weight: 400;
  font-Size: 16px;
  Line-height: 18, 75px;
  color: #FFF;
}/*# sourceMappingURL=styles.css.map */